accelerate==0.21.0
anyio==3.7.1
certifi==2023.7.22       
charset-normalizer==2.1.1
colorama==0.4.6
copier==8.1.0
decorator==5.1.1
diffusers==0.19.2        
dunamai==1.18.0
exceptiongroup==1.1.2    
filelock==3.9.0
flet==0.8.4
flet-core==0.8.4
flet-runtime==0.8.4
fsspec==2023.6.0
funcy==2.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.8.0
invisible-watermark==0.2.0
Jinja2==3.1.2
jinja2-ansible-filters==1.3.2
MarkupSafe==2.1.3
mpmath==1.2.1
networkx==3.0
numpy==1.24.1
oauthlib==3.2.2
opencv-python==4.8.0.74
packaging==23.1
pathspec==0.11.1
Pillow==9.3.0
plumbum==1.8.2
prompt-toolkit==3.0.39
psutil==5.9.5
pydantic==1.10.12
Pygments==2.15.1
pypng==0.20220715.0
PyWavelets==1.4.1
pywin32==306
PyYAML==6.0.1
pyyaml-include==1.3.1
qrcode==7.4.2
questionary==1.10.0
regex==2023.6.3
repath==0.9.0
requests==2.28.1
safetensors==0.3.1
screeninfo==0.8.1
six==1.16.0
sniffio==1.3.0
sympy==1.11.1
tokenizers==0.13.3
tqdm==4.65.0
transformers==4.31.0
typing_extensions==4.7.1
urllib3==1.26.13
watchdog==3.0.0
wcwidth==0.2.6
websocket-client==1.6.1
websockets==11.0.3
zipp==3.16.2